.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/LICENSE
node_modules/**/LICENCE
node_modules/**/.github/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/coverage/**
.git/**
*.vsix